<!--
    <header>
    <nav>
        <a href="/">Mybrary</a>
        <ul>
            <li><a href="/students">All Students</a></li>
            <li><a href="/students/new">Add students</a></li>
           
                <li><a href="/addTeachers">Add Teachers Multiple</a></li>
            <li><a href="/addAttbook">Add Att Books</a></li>

            <li><a href="/login">login</a></li>
            

        </ul>
    </nav>
</header>
-->